body{
    background-color: black;
    color: #f9f6f6!important;
}

.loadingScreen{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: #FFF;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }
  
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
      

.sideNavMenu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
}
.logo{
    width: 50px;
}
i,li{
    cursor: pointer;
}
.footer p{
    color: rgb(153, 153, 153)!important;;
}
.movie-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(230, 8, 8, 0.411);
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.movie{
    cursor: pointer;
}
.movie img{
    transition: all 0.5s;
}
.movie:hover .movie-layer{
    opacity: 1;
}
.movie:hover img{
    transform: rotate(5deg) scale(1.2);
}
.rate h4{
    width: 50px;
    height: 50px;
    border: solid 2px green;
}
.searchBar{
    background: transparent;
}

input:hover, 
input:focus, 
input:active{
    box-shadow: none !important;
    background: transparent !important;
    }

.searchBar::placeholder{
    color: #ffffff !important;
}

input, select, textarea{
    color: #ffffff !important;
}

textarea:focus, input:focus {
    color: #ffffff !important;
}

.contactInput{
    width: 100%;
    border: none !important;
    border-bottom: #ffffff 1px solid !important;
    border-radius: 0px !important;
    background: transparent;
}

.contactInput::placeholder{
    color: #7a7676f5 !important;
}

.modal-content{
    background-color: #101010 !important;
    color: #FFF;
    
}
.modal{
    z-index: 9999999999!important;
}
